body{
  background-image: radial-gradient(#96d981 3px, transparent 3px), radial-gradient(#96d981 3px, transparent 3px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
  background-color: #0b7309;
}

main{
  border: 2px solid #96d981;
}

main div{
  display: inline-block;

  padding: .25em .75em;
  
  background-color: #79cb97;

  font-size: 1.25rem;
  font-weight: 600;
  color: #121313;
}


.grid{
  display: grid;

  grid-template-columns: 100px 100px 100px;

  grid-template-rows: 200px 200px 200px 200px;
}


/* Mostrar, e depois comentar de novo */
.grid{
  /* grid-template-rows: 200px; */
}

.grid{
  width: 80%;
  margin-inline: auto;

  /* width: 200px; */
}

.grid{
  /* grid-template-columns: 20% 20% 20%; */
  
  /* grid-template-columns: 50% 50%; */



  /* grid-template-columns: 50% 50% 50%; */
}

/* .grid > div:nth-child(2n -1){
  margin-right: 20px;
} */

.grid{
  gap: 20px;

  grid-template-columns: 1fr 1fr;
}

/* Aumentar o tamanho de um dos elementos */
.grid >div:nth-child(3){
  /* width: 1000px; */
}

/* Aumentar o conteudo de um dos elementos no html*/