body{
  background-image: radial-gradient(#96d981 3px, transparent 3px), radial-gradient(#96d981 3px, transparent 3px);
  background-size: 28px 28px;
  background-position: 0 0, 14px 14px;
  background-color: #0b7309;
}

main{
  border: 2px solid #96d981;
}

main div{
  display: inline-block;
  
  background-color: #79cb97;

  font-size: 1.25rem;
  font-weight: 600;
  color: #121313;
}

/* .grid{
  display: grid
} */